@model MVCNewsSite.Models.NewsArticle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NewsArticle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Headline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Headline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extract)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extract)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Encoding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Encoding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ByLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ByLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TweetText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TweetText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientQuote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientQuote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HtmlTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HtmlTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HtmlMetaDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HtmlMetaDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HtmlMetaKeywords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HtmlMetaKeywords)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HtmlMetaLangauge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HtmlMetaLangauge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tags)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Format)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Format)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoHtmlAlt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoHtmlAlt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoOrientation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoOrientation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
